

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  margin: 25px;
}

.btn--white {
  background-color: #fff;
  color: #db3445;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.9);
}

@media (max-width: 963px) {
  .header__logo-box {
    position: absolute;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    top: 80px;
    left: 28.5px;
  }

  .header__logo {
    height: 26px;
    position: absolute;
    top: 3px;
    padding-left: 2px;
  }

  .navigation__button {
    position: absolute;
    top: 59px;
    right: 45px;
    max-height: 75px;
    max-width: 75px;
  }

  .navigation__background {
    position: absolute;
    top: 59px;
    right: 45px;
    max-height: 75px;
    max-width: 75px;
  }

  .navigation__icon {
    top: -15px;
  }

  .navigation-list {
    position: relative;
    left: 13px;
  }

  .navigation__item {
    height: 45px;
  }

  .navigation__social--icon {
    height: 55px;
  }

  .header__text-box {
    margin-top: 27.5px;
  }
}

@media (max-width: 355px) {
  .header__logo-box {
    position: absolute;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    top: 80px;
    left: 28.5px;
  }

  .header__logo {
    height: 26px;
    position: absolute;
    top: 3px;
    padding-left: 2px;
  }

  .navigation__button {
    position: absolute;
    top: 59px;
    right: 45px;
    max-height: 75px;
    max-width: 75px;
  }

  .navigation__background {
    position: absolute;
    top: 59px;
    right: 45px;
    max-height: 75px;
    max-width: 75px;
  }

  .navigation__icon {
    top: -15px;
  }

  .navigation-list {
    position: relative;
    left: 13px;
  }

  .navigation__item {
    height: 45px;
  }

  .navigation__social--icon {
    height: 55px;
  }

  .header__text-box {
    margin-top: 27.5px;
  }
}
