.btn {
  &:link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    margin: 25px;
  }
  &:visited {
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.9);
  }
}
.btn--white {
  background-color: #fff;
  color: #db3445;
}
